data/CURRENT.BIN
data/SURFACE.BIN
data/GOESFILE.TXT

modules/NOCTIS.EXE

gallery/*
movies/*
source/BIN/*

*.zip
modules/NOCTIS.EXE
source/baseclient/testclient.log
source/baseclient/testclient.exe
